@tailwind base;
@tailwind components;
@tailwind utilities;

/* TABLA */
.table th,td{
  @apply text-gray-600  text-left border border-slate-400
}
.table td:nth-child(n+2){
  text-align: center;
}
.table th:nth-child(n+2){
  text-align: center;
}
.table tbody tr:nth-child(2n+1){
  @apply bg-gray-200
}

/* ANIMACION */
.rotate {
    animation: rotate 1s linear infinite;
    
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* LAYOU */
  .disabled {
    opacity: 0.5; /* por ejemplo */
    pointer-events: none;
  }
  